.sn h1 {
    font: 32pt ToonatorFont;
    text-align: left;
    margin: 20px 0 10px 0;
    border-bottom: 1px solid #eeeeee;
}

.sn label, .sn .label {
    display: block;
    margin: 5px 0;
    font: 16pt ToonatorFont;
}

.sn label p {
    width: 250px;
    display: inline-block;
    color: #555555;
    text-align: left;
}

.sn input.input {
    border: 1px solid #cccccc;
    border-radius: 5px;
    font: 16pt ToonatorFont;
    padding: 10px;
    width: 400px;
    box-shadow: 0 0 2px #DDD inset;
}

.sn input:focus {
    outline: 0;
}

.sn button.complete {
    border: 1px solid #cccccc;
    border-radius: 5px;
    font: 16pt ToonatorFont;
    padding: 10px 0;
    width: 420px;
    box-shadow: 0 0 2px #DDD inset;
    height: auto;
    background: #a4cda7;
    cursor: pointer;
    margin-top: 10px;
}

.sn button.complete:disabled {
    background: #eeeeee;
    cursor: default;
}

.sn label .error {
    font: 12pt ToonatorFont;
    color: red;
    padding-left: 10px;
}

.content-sn {
    padding: 10px 0;
}

.sn .login-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #cccccc;
    width: 640px;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    z-index: 1001;
}

.sn .login-wrapper h2 {
    text-align: center;
    font: 24pt ToonatorFont;
    margin: 5px 0;
    border-bottom: 1px solid #eeeeee;
}

.sn .login-wrapper .close {
    position: absolute;
    right: 10px;
    top: 10px;
    text-decoration: none;
    color: #cccccc;
    font: 18pt Arial;
}

.sn .login-wrapper .close:hover {
    color: black;
}

.sn .login-wrapper label.short {
    display: block;
    margin: 5px 0;
    font: 16pt ToonatorFont;
}

.sn .login-wrapper label.short p {
    width: 200px;
    display: inline-block;
    color: #555;
    vertical-align: middle;
}

.sn .login-wrapper label.short input {
    vertical-align: middle;
}

.sn .signin-old {
    max-height: 400px;
    overflow: hidden;
    transition: max-height 0.1s;
}

.sn .signin-old.hidden {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s;
}

.sn .info-block {
    border-radius: 8px;
    background: #eeeeee;
    padding: 20px;
    font: 12pt ToonatorFont;
    margin-bottom: 10px;
}